*{
    margin: 0px;
    padding: 0px;
}

h3{
    text-align: center;
}
.nombre{
text-align: justify;
margin-left: 100px;
}
.raya{
   text-decoration: dotted;
}
p{
    text-align: justify;
    margin-left: 100px;
}
button{
margin-bottom: 20px;
}
